## Ejercicio 1

Input: ```list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]```

Obtener el siguiente output usando "append":

  Output: ```[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Ejercicio 2

Input1: ```s1 = {10, 20, 30, 40, 50}```

Input2: ```s2 = {30, 40, 50, 60, 70}```

Responder
1. Obtener el siguiente output con alguno de met√≥dos vistos

  Output1: ```{40, 50, 30}```

2. Como obtener el siguiente output con alguno de los met√≥dos vistos para sets

  Output2: ```{70, 40, 10, 50, 20, 60, 30}```

3. Extraer todos los elementos de s2 que no estan en s1

In [59]:
s1 = {10, 20, 30, 40, 50}
s2 = {30, 40, 50, 60, 70}

print('Punto 1')
print(s2.intersection(s1))
print('-----------------')
print('Punto 2')
print(s1.union(s2))
print('-----------------')
print('Punto 3')
s2.symmetric_difference(s1)

Punto 1
{40, 50, 30}
-----------------
Punto 2
{70, 40, 10, 50, 20, 60, 30}
-----------------
Punto 3

{10, 20, 60, 70}

## Ejercicio 3

input: ```tupla=(10, 20, 30, 40, 50)```

Responder:

1. Ordenar la tupla de mayor a menor
2. Extraer los valores de la tupla en las siguientes variables: a,b,c,d,e
3. Ahora suponga que tiene la siguiente tupla: 
```tupla_d = (11, [22, 33], 44, 55)```
Recordando el concepto de inmutabilidad de las tuplas, ser√≠a posible poder modificar el valor **22** por **222** o en este caso no se puede?. Justifiquen

In [57]:
tupla=(10, 20, 30, 40, 50)
print('Punto 1')
print(tupla[::-1]) # No la organiza, pero genera una sorted list con los objetos en la tupla
print('-----------------')

print('Punto 2')
a, b, c, d, e = tupla # Se asigna los valores de la tupla a su correspondiente variable
print(a, b, c, d, e)
print('-----------------')

print('Punto 3')
# tupla_d NO se puede MODIFICAR es INMUTABLE. Pero se puede crear una lista copia y crear una nueva tupla con el valor modificado
tupla_d = (11, [22, 33], 44, 55)
tupla_d[1][0] = 222
print(tupla_d)

Punto 1
(50, 40, 30, 20, 10)
-----------------
Punto 2
10 20 30 40 50
-----------------
Punto 3
(11, [222, 33], 44, 55)

## Ejercicio 4: Diccionarios

1. Supongan que tienen el siguiente diccionario similar a lo que se obtiene de una API ([texto del enlace](https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/)) 
```
dict_david = {
    "clase": {
        "estudiante": {
            "nombre": "David",
            "notas": {
                "fisica": 4.9,
                "matematicas": 4.8
            }
        }
    }
}
```

Como se puede obtener el valor respectivo para la llave primaria ```matematicas```‚ùó‚ô•‚ô®‚Ñπ

2. Con base en el siguiente diccionario, renombrar la llave primaria ciudad por ubicacion ü•±‚è¨‚ö°‚úâ

```dic_prueba = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}
```

3. Obtener la llave primaria del valor minimo para el siguiente diccionario üò∂üßµ‚öî‚ô¶

```
dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}
```

4. Con base en el siguiente diccionario‚úà‚öîüòÄüòº
```
dict_a = {
    'e1': {'nombre': 'David', 'salario': 12000000},
    'e2': {'nombre': 'Juan', 'salario': 7590000},
    'e3': {'nombre': 'Amir', 'salario': 6787000}
}
```
Reemplazar el valor de 7590000 de Juan por 8000000.

In [ ]:

print('Punto 1')

dict_david = {
 "clase": {
     "estudiante": {
         "nombre": "David",
         "notas": {
             "fisica": 4.9,
             "matematicas": 4.8
         }
     }
 }
}

res1 = dict_david["clase"]["estudiante"]["notas"]["matematicas"]
print(res1)
print('-----------------')

print('Punto 2')

dictSecondEx = {
  "nombre": "Juan",
  "edad":25,
  "salario": 8000000,
  "ciudad": "Santiago"
}

temp = dictSecondEx["ciudad"]
dictSecondEx.pop("ciudad")
dictSecondEx['ubicacion'] = temp # No estoy seguro si sea la forma optima para hacerlo

print(dictSecondEx)
print('-----------------')

print('Punto 3')

dicc = {
  'Bayesiana': 4.5,
  'Series Tiempo': 4.6,
  'Calculo Actuarial': 4.2
}

diccValues = list(dicc.values())
minVal = min(diccValues)
indexMinVal = diccValues.index(minVal)

diccKeys = list(dicc.keys())
res3 = diccKeys[indexMinVal]

print(res3)
print('-----------------')

print('Punto 4')

dict_a = {
 'e1': {'nombre': 'David', 'salario': 12000000},
 'e2': {'nombre': 'Juan', 'salario': 7590000},
 'e3': {'nombre': 'Amir', 'salario': 6787000}
}

dict_a['e2']['salario'] = 8000000

print(dict_a['e2'])

Punto 1
4.8
-----------------
Punto 2
{'nombre': 'Juan', 'edad': 25, 'salario': 8000000, 'ubicacion': 'Santiago'}
-----------------
Punto 3
Calculo Actuarial
-----------------
Punto 4
{'nombre': 'Juan', 'salario': 8000000}